<ul>可以用的網站：
<li><%= link_to "http://www.bestory.com/","http://www.bestory.com/"%></li>
</ul>

<h1>Editing novel</h1>

<%= render 'form' %>

<%= link_to 'Show', @novel %> |
<%= link_to 'Back', novels_path %>
